/*노말라이즈*/
@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Nanum+Gothic&display=swap');
*{margin:0; padding:0;}
ul,li{list-style: none;}
a{text-decoration: none; color:inherit}
body{
  font-family: Georgia, "Nanum Gothic";
  font-size: 14px;
  color:#111;
}
::placeholder{/*placeholder 스타일 초기화*/
  font-family:"Nanum Gothic";
  font-weight: 400;
  font-size:14px;
  color:#666;
}
/*=====================================*/
/*commons 공통속성*/
.container{
  width:1000px;
  margin:auto;
  padding:100px 20px;
  box-sizing: border-box;
}
/*====================================*/
/*header*/
header{
  width:100%;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
header > .container{
  padding:24px 20px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
/*logo*/
.logo{
  font-family: "katibeh";
  font-weight: normal;
  font-size: 42px;
  height:20px;
  transform: translateY(-24px);
  letter-spacing: 2px;
}
nav{
  display: flex;
}
nav > ul{
  display: flex;
}
.gnb > li{
  margin:0 20px;
  transform:translateY(3px);
}
.icon > li{
  margin:0 5px;
  font-size:20px;
}
/*메뉴에 hover효과*/
nav li:hover,
nav li.active{
  color:orange;
}

/*상단배너*/
#banner{
  min-width:1000px;
  height:600px;
  background:url(../img/main.jpg) center/cover;
  color:#fff;
}
#banner h1{
  font-size:60px;
  font-weight:normal;
}
#banner h1 i{
  color:orange;
  padding-left:10px;
}
#banner h2{
  font-size:30px;
  margin:10px 0 40px;
}
#banner .btn a{
  display:inline-block;
  padding:8px 34px;
  border:2px solid #fff;
  margin-right:10px;
  transition:.3s;
}
#banner .btn a:hover{
  border-color:#fc0;
  color:#fc0;
}

/*works*/
#works{
  background-color: #fcd307;
  min-width:1000px;
}
#works > .container{
  width:800px;
  padding:100px 0;/*좌우 여백 제거*/
  display:flex;
}
#works .box{
  flex:1;/*box요소들을 같은 넓이로 설정*/
  text-align:center;
  animation:zoom 0.5s linear forwards;
}
#works .box img{
  border-radius:50%;
}
#works .box h3{
  font-family: "Nanum Gothic";
  margin:20px 0 5px;
}
@keyframes zoom{
  0%{transform:scale(0);}
  100%{transform:scale(1);}
}

/*about*/
#about h1{
  font-size:60px;
  font-weight:normal;
}
#about h1 i{
  margin-right:20px;
}
#about > .container > p{
  font-size:18px;
  text-indent:70px;
}

#about .member{
  display:flex;
  margin:60px 0;
  justify-content:space-around;
  text-align:center;
}
#about .member li{
  width:200px;
}
#about .member h3{
  font-size:14px;
  margin:20px 0 5px;
  letter-spacing:6px;
}
#about .member p{
  color:#666;
  letter-spacing:2px;
}

#about .txt{
  display:flex;
}
#about .txt li{
  padding:0 20px;
  text-align:justify;
  line-height:1.6;
}

/*contact*/
#contact{
    min-width: 1000px;
    background-color: #333;
    color: #fff;
}
#contact h1{
    font-size: 60px;
    font-weight: normal;
}
#contact h1 i{
    margin-right: 20px;
}
#contact > .container > p{
    font-size: 18px;
    text-indent: 70px;
}
#contact .contact-wrap{
    display: flex;
    margin-top: 80px;
}
.contact-wrap > div{
    width: 50%
    /*flex: 1;*/
}
.contact-wrap > .address{
    box-sizing: border-box;
    padding-left: 70px;
}
.contact-wrap > .address >p{
    margin-bottom: 40px;
    line-height: 40px;
}
.contact-wrap > .address > p i{
    font-size: 35px;
    vertical-align: middle;
    margin-right: 10px;
}
.contact-input label{
    display: block; /*여백 주기 위해*/
    line-height: 1.5;
    margin-bottom: 10px;
}
.contact-input .wrap{
    display: flex;
    justify-content: space-between;
}
.contact-input .wrap > p{
    width: 235px;
}
.contact-input .wrap > textarea{
    width: 240px;
    height: 130px;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
input[type=text]{
  width:235px;
  height:40px;
  border:none;
  outline:none;
  margin-bottom:5px;
  padding:10px;
  box-sizing: border-box;
}
input[type=submit]{
  padding:6px 24px;
  background-color:#f9be20;
  border:none;
  outline:none;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}
input[type=submit]:hover{
  background-color:#f5ae16;
}
#contact hr{
  border:1px solid #fff;
  margin:50px 0;
}

/*footer*/
footer > .container{
  padding:30px 10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

footer p{
  padding-left:70px;
}
footer span{margin-right:30px;}
footer p a{
  background-color:#ff9;
}

footer .icon{
  display:flex;
}
footer .icon > li{
  margin:0 5px;
  font-size:20px;
}
